project:
  type: website
  output-dir: docs

website:
  title: "Computer Setup Instructions"
  repo-url: https://github.com/benzipperer/computer_setup


format:
  html:
    theme: cosmo
    toc: true
    toc-location: left
